@mixin borderBox() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin topRadius($radius){
  -webkit-border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -ms-border-radius: $radius $radius 0 0;
  border-radius: $radius $radius 0 0;
}

@mixin bottomRadius($radius){
  -webkit-border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -ms-border-radius: 0 0 $radius $radius;
  border-radius: 0 0 $radius $radius;
}

@mixin leftRadius($radius){
  -webkit-border-radius: $radius 0 0 $radius;
  -moz-border-radius: $radius 0 0 $radius;
  -ms-border-radius: $radius 0 0 $radius;
  border-radius: $radius 0 0 $radius;
}

@mixin rightRadius($radius){
  -webkit-border-radius: 0 $radius $radius 0;
  -moz-border-radius: 0 $radius $radius 0;
  -ms-border-radius: 0 $radius $radius 0;
  border-radius: 0 $radius $radius 0;
}

@mixin elementAnim($mls: 200){
  -webkit-transition: all #{$mls}ms ease;
  -moz-transition: all #{$mls}ms ease;
  -ms-transition: all #{$mls}ms ease;
  -o-transition: all #{$mls}ms ease;
  transition: all #{$mls}ms ease;
}
