<template>
    <div class="loginarea">
        <div class="form-group">
            <label>İsim</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>Soyisim</label>
            <input type="text" name="surname" class="form-control">
        </div>
    </div>
</template>

<script>
    export default {
        name: "login"
    }
</script>

<style lang="scss">

</style>