<template>
  <div id="messagelist">
    <ul class="messagearea">
      <li v-for="message in messageList">
          <div :class="itemClass(message[0])">
            <span class="message-body">{{ message[1] }}</span>
            <span class="message-date"><i class="fa fa-clock-o"></i> {{ message[2] }}</span>
          </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
    name: 'MessageList',
        props: {
              messageList:{
                  type: Array,
          }
    },
    methods:{
        itemClass(remoteOrSelf){
            return remoteOrSelf == 1 ? 'pull-left other-message messageitem':'pull-right self-message messageitem';
        }
    }
}
</script>

<style lang="scss">
    #messagelist{
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 15px;
        @include borderBox;
        .messagearea{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: block;
                width: 100%;
                clear: both;
                .messageitem{
                    padding: 10px 15px;
                    margin: 1px 0;
                    .message-body
                    {
                        display: block;
                        font-size: 13px;
                    }
                    .message-date{
                        font-size: 11px;
                    }
                }
                .self-message{
                    background-color: #2aff77;
                    margin-left: 30px;
                    @include leftRadius(15px);
                }
                .other-message{
                    background-color: #222;
                    color: white;
                    margin-right: 30px;
                    @include rightRadius(15px);
                }
            }
        }
    }

</style>
