<template>
    <div id="messagebox">
      <div class="form-group">
        <label>Message</label>
        <div class="input-group">
          <input type="text" name="message" id="messageinput" v-model="message" class="form-control" @keypress.enter="sendMessage">
          <b-button variant="success" id="sendbutton" @click="sendMessage">
            <i v-if="isLoding" class="fa fa-spinner fa-pulse"></i>
            <i v-else class="fa fa-send"></i>
          </b-button>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  /* eslint-disable */
  name: 'Messagebox',
  data () {
    return {
      message: '',
      isLoding: false
    }
  },

  methods: {
      sendMessage : function () {
          this.isLoding = true;
          this.$emit('sendingMessage', this.message);
          this.message = '';
          this.isLoding = false;
      }
  }
}
</script>

<style lang="scss">
  #messagebox{
    background-color: $messageBoxBg;
    padding: 15px;
    width: 100%;
    label{
      font-size: 11px;
    }
    button{

    }
  }
</style>
