<template>
    <div id="supportmain">
        <MessageList :messageList="messageList"></MessageList>
        <Messagebox v-on:sendingMessage="sendSelfMessage"></Messagebox>
    </div>
</template>

<script> /* eslint-disable */
import { mapState, mapActions } from 'vuex'
import Messagebox from './Messagebox'
import MessageList from './MessageList'

export default {
    name: 'SupportMain',
    components: {MessageList, Messagebox},
    computed: {
        ...mapState([
            'messageList'
        ])
    },
    sockets: {
        connect: function () {
            console.log('socket connected')
        },
        customEmit: function (data) {
            console.log('this method was fired by the socket server. eg: io.emit("customEmit", data)')
        }
    },
    methods: {
        ...mapActions([
            'appendMessage'
        ]),
        sendSelfMessage(message) {
            if(message.length < 1){
                return false;
            }
            this.appendMessage([0, message, new Date()]);
            this.$socket.emit("clientmessage", [0, message, new Date(), this.$socket.id]);
        },
        getRemoteMessage(params){
            this.messageList.push(params);
        }
    }

}
</script>

<style>
</style>
