<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>


export default {
  name: 'app',
}
</script>

<style>
  @import './assets/font-awesome-4.7.0/css/font-awesome.css';
</style>
